/*@import url("https://fonts.googleapis.com/css?family=Chelsea Market' rel='stylesheet")*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	font-family: "Didact Gothic";
	font-size: 1.2rem;
	min-height: 100%;
}

.grid-container > * {
	box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
	border-radius: 4px;
	padding: 10px;
	text-align: center;

}

header {
	grid-area: H;
	background-color: #f6f5f5;
}

nav {
	grid-area: N;
	background-color: #d3e0ea;
}

.menu li {
    display: inline;
    justify-content: space-between;
    height: 20px;
    font-size: 70%; 
    color: black;
    padding: 5px 5px;
}

aside {
	grid-area: S;
	background-color: #1687a7;
}

section {
	grid-area: M;
	background-color: #276678;

}

footer {
	grid-area: F;
	background-color: #393e46;
}

.grid-container {
	display: grid;
	grid-gap: 10px;
	grid-template: 
	"H" 185px
	"N" 50px
	"M"   auto
	"S" 600px	
	"F" 100px;

}
	.grid-item img {
		height: 575px;
		width: 430px;
	}

	.parrafo {
		color: white;
	}

	p {
		font-family: Doppio One;
		color: white;
		text-align: justify;
		border-style: outset;
	}

	td {
		font-family: Doppio One;
		color: white;
		text-align: justify;
		border-style: outset;
	}

	img{
		float: left;
		width: 410px;
	}


@media (min-width: 600px) {

	.parrafo{
		color: white;
	} 

	.grid-item img {
		width: 280px;
		height: 880px;
	}
	.grid-container {
		/*grid-template-columns: 200px auto;
		grid-template-rows: 100px 50px auto 100px;
		grid-template-areas:
		"header header" 
		"navbar navbar" 
		"sidebar main" 
		"footer footer"*/
	grid-template:
		"H H" 170px
		"N N" 50px
		"S M" auto
		"F F" 100px /
		300px	auto  
	}



@media (min-width: 900px) {

	.grid-item img {
		width: 240px;
		height: 560px;
	}

	.grid-container {
	grid-template:
		"H H H" 170px 
		"N M S" auto
		"F F F" 100px /
		200px	auto	260px;

	}
	

ul {
	margin: 0px;
	padding: 0px;
}


li a {
	display: block;
	color: black;
	text-align: center;
	padding: 30px 30px;	
	font-family: Doppio One;
}

img {
	float: left;
	width: 410px;
}

p {
	font-family: Doppio One;
	color: white;
	text-align: justify;
	border-style: outset;
}

td {
	font-family: Doppio One;
	color: white;
	text-align: justify;
	border-style: outset;
}


