/*@import url("https://fonts.googleapis.com/css?family=Chelsea Market' rel='stylesheet")*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	font-family: "Didact Gothic";
	font-size: 1.2rem;
	min-height: 100%;
}

.grid-container > * {
	box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
	border-radius: 4px;
	padding: 10px;
	text-align: center;

}

header {
	grid-area: H;
	background-color: #194350;
}

nav {
	grid-area: N;
	background-color: #ff8882;
}

aside {
	grid-area: S;
	background-color: #ffc2b4;
}

section {
	grid-area: M;
	background-color: #9dbeb9;
}

footer {
	grid-area: F;
	background-color: #fed049;
}

.grid-container {
	display: grid;
	grid-gap: 10px;
	grid-template: 
	"H" 100px
	"N" 50px
	"M"   auto
	"S"100px	
	"F" 100px;

}

@media (min-width: 600px) {
	.grid-container {
		/*grid-template-columns: 200px auto;
		grid-template-rows: 100px 50px auto 100px;
		grid-template-areas:
		"header header" 
		"navbar navbar" 
		"sidebar main" 
		"footer footer"*/
	grid-template:
		"H H" 100px
		"N N" 50px
		"S M"  auto
		"F F" 100px /
		200px	auto;
	}
}

@media (min-width: 900px) {
	.grid-container {
	grid-template:
		"H H H" 100px
		"N M S"  auto
		"F F F" 100px /
		200px	auto	200px;
	}